

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href=''>Seasonal Eating</a>

    <div
    class="collapse navbar-collapse"
    id="navbarNavDropdown"
    [ngClass]="{ collapsed: collapsed }">

      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="season" routerLinkActive="active"
          >Season</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="ingredient" routerLinkActive="active"
          >Ingredient</a>
        </li>
      </ul>
    </div>
  </nav>
