<!-- <div [ngClass]="{show: open}" class="dropdown show">
  <a (click)= "onToggleDropDown()"class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

  </a>

  <div [ngClass]="{show: open}" class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" href="#">Spring</a>
    <a class="dropdown-item" href="#">Summer</a>
    <a class="dropdown-item" href="#">Fall</a>
    <a class="dropdown-item" href="#">Winter</a>
  </div>
</div> -->

<div class="dropdown" appDropdown #dropdown="appDropdown">
  <div class="dropdown mb-5">
    <button
      class="btn btn-primary dropdown-toggle"
      type="button"
      id="dropdownMenuButton"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >Choose Season
    </button>
    </div >
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1"
  [ngClass]="{ show: dropdown.isShow }">
    <li><a (click)="onChooseSeason('Spring')" class="dropdown-item">Spring</a></li>
    <li><a (click)="onChooseSeason('Summer')" class="dropdown-item" >Summer</a></li>
    <li><a (click)="onChooseSeason('Fall')" class="dropdown-item" >Fall</a></li>
    <li><a (click)="onChooseSeason('Winter')" class="dropdown-item" >Winter</a></li>
  </ul>
</div>
<app-recipe-list [seasonList]="seasonList"></app-recipe-list>
